target/
*~
*-gh/
*.osm
nbactions*.xml
/config.yml
build.xml
maven/
measurement*.properties
gen/
bin/
*.map
android/libs/graphhopper-*-android.jar
*/nbactions.xml
.idea
.idea/
*iml
# keep these web/ paths for now. they are outdated but probably useful for a while in case we switch between branches
/web/node
/web/src/main/resources/assets/js/config/options_prod.js
/web/src/main/resources/assets/js/main.js
/web-bundle/node
/web-bundle/src/main/resources/com/graphhopper/maps/js/config/options_prod.js
/web-bundle/src/main/resources/com/graphhopper/maps/js/main.js
/web/dependency-reduced-pom.xml
*.pbf
!/core/src/test/resources/com/graphhopper/reader/osm/*.pbf
*.dem
*.log
/logs
srtmprovider/
cgiarprovider/
.*#
android/build/
android/app/build/
android/.gradle
.settings/
.classpath
.project
local/
local.properties
**/node_modules
.DS_Store
/graph-cache
package-lock.json
web/src/main/java/com/graphhopper/http/resources/oasa_graph/transit_schedule.p
web/src/main/java/com/graphhopper/http/resources/oasa_graph/transit_schedule
web/src/main/java/com/graphhopper/http/resources/oasa_graph/string_index_vals
web/src/main/java/com/graphhopper/http/resources/oasa_graph/string_index_keys
web/src/main/java/com/graphhopper/http/resources/oasa_graph/properties
web/src/main/java/com/graphhopper/http/resources/oasa_graph/nodes
web/src/main/java/com/graphhopper/http/resources/oasa_graph/location_index
web/src/main/java/com/graphhopper/http/resources/oasa_graph/gtfs_0.p
web/src/main/java/com/graphhopper/http/resources/oasa_graph/gtfs_0
web/src/main/java/com/graphhopper/http/resources/oasa_graph/geometry
web/src/main/java/com/graphhopper/http/resources/oasa_graph/edges
web/src/main/java/com/graphhopper/http/resources/buildb/edges
web/src/main/java/com/graphhopper/http/resources/buildb/geometry
web/src/main/java/com/graphhopper/http/resources/buildb/gtfs_1
web/src/main/java/com/graphhopper/http/resources/buildb/gtfs_1.p
web/src/main/java/com/graphhopper/http/resources/buildb/location_index
web/src/main/java/com/graphhopper/http/resources/buildb/nodes
web/src/main/java/com/graphhopper/http/resources/buildb/properties
web/src/main/java/com/graphhopper/http/resources/buildb/string_index_keys
web/src/main/java/com/graphhopper/http/resources/buildb/string_index_vals
web/src/main/java/com/graphhopper/http/resources/buildb/transit_schedule
web/src/main/java/com/graphhopper/http/resources/buildb/transit_schedule.p
/assets/graph11/edgekv_keys
/assets/graph11/edgekv_vals
/assets/graph11/edges
/assets/graph11/geometry
/assets/graph11/gtfs_48
/assets/graph11/gtfs_48.p
/assets/graph11/gtfs_ 49
/assets/graph11/gtfs_ 49.p
/assets/graph11/location_index
/assets/graph11/nodes
/assets/graph11/properties
/assets/graph11/pt_edge_attrs
/assets/graph11/pt_edges
/assets/graph11/pt_extra
/assets/graph11/pt_nodes
/assets/graph11/pt_to_street
/assets/graph11/skipped_edges_for_transfer
/assets/graph11/stop_index
/assets/graph11/street_to_pt
/assets/graph11/transit_schedule
/assets/graph11/transit_schedule.p
